{% extends 'base.html.twig' %}
{% block title %}Nouveau Produit{% endblock %}
{% block body %}
<div class="container mt-4">
    <h1 class="adminTitle mb-4">Nouveau Produit</h1>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-4">{{ form_row(form.nom) }}</div>
         <div class="col-md-4">{{ form_row(form.famille) }}</div>
        
    </div>
    <div class="row">
        <div class="col-md-4">{{ form_row(form.magasin) }}</div>
        <div class="col-md-4">{{ form_row(form.designation) }}</div>
        <div class="col-md-4" >{{ form_row(form.imageFile, {
             attr: {
            'placeholder': 'Select an article image'
        }
        }) }}</div>
    </div>
    <div class="row">
        <div class="col-md-6 d-flex flex-row">{{ form_row(form.allergene) }}</div>
    </div>
    {{ form_widget(form) }}
    <div class="container d-flex justify-content-center mt-5">
        <button class="btn btn-primary mr-4">{{ button_label|default('Créer') }}</button>
        <a class="btn btn-secondary" href="{{ path('produit_index') }}">Retour à la liste</a>
    </div>
    {{ form_end(form) }}
</div>  

 {% block javascripts %}
            <script>
      {#          $('.test').change( (e) => {
                  let test = document.querySelector('.test')
                  console.log('test',test.value)
                  console.log('e',e.target.files[0].name)
                  test.setAttribute('value', e.target.files[0].name) 

              })  #}
              $('.custom-file-input').on('change', function(event) {
                    let inputFile = event.currentTarget;
                    console.log(inputFile.files[0].name)
                    console.log('ets',  $(inputFile).parent().find('.custom-file-label') )
                    $(inputFile).parent().find('.custom-file-label').text(inputFile.files[0].name);
                    
             });
               
          {#    
                $('.custom-file-input').on('change', function(e) {
                    var inputFile = e.currentTarget;
                    console.log(inputFile.files[0].name)
                    let moreText = inputFile.files[0].name
                    $('#produit_imageFile').val( $('#produit_imageFile').val() + moreText)
                   
                    //$(inputFile).parent()
                       // .find('.custom-file-label')
                       // .html(inputFile.files[0].name); 
                }); #}
            </script>
        {% endblock %}
{% endblock  %}


