{% extends 'base.html.twig' %}


{% block title %}Allergènes{% endblock %}

{% block body %}
<h1 class="adminTitle mb-4">Allergène</h1>

{% for message in app.flashes('success') %}
<div class="alert alert-success">{{message}}</div>
{% endfor %}
<div class="table-responsive">
    <table class="table table-striped table-bordered text-center">
        <thead>
            <tr>
                <th>id</th>
                <th>Nom</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for allergene in allergenes %}
            <tr>
                <td>{{allergene.id}}</td>
                <td>{{allergene.type}}</td>
                <td> <a href="{{path('allergene_edit', {id: allergene.id})}}" class="btn btn-secondary">Editer</a></td> 
                <td>
                    <form method="POST" class="d-inline-block" method="post" action="{{path('allergene_delete', {id: allergene.id})}}" onsubmit="return confirm('Cette action ne pourra pas être annulée. Êtes-vous sûr ?');">
                        <input type="hidden" name="_token" value="{{csrf_token('delete' ~ allergene.id)}}">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger">Supprimer</button>  
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>                
    </table>
</div>   
<div class="container text-center">
        <a  class="btn btn-primary" href="{{ path('allergene_new') }}">Créer un nouvel allergène</a>
        <a class="btn btn-secondary" href="{{ path('admin_index') }}">Retour au menu</a>
</div>    
{% endblock %}
